h1{
    color: whitesmoke;
    font-size:50px ;
    position: relative;
    left: 650px;
}

body{
    background-color: black;
    display: flex;
    justify-content: center;
}

p{
    color: white;
    position: relative;
    top: 450px;
    right: 250px;
}

.aguatalga{
    width: 1500px;
    height: 300px;
    position: relative;
    left: 300px;
    top: 150px;
}

button{
    position: relative;
    top: 550px;
    height: 60px;
    width: 250px;
    right: 600px;
    background-color: orangered;
    border: 1px solid orangered;
    border-radius: 20px;
}

a{
    color: white;
    font-weight: bold;
    font-size: 15px;
}